*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg-base);
    color: var(--color-text-main);
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
    /* App-like feel */
    -webkit-font-smoothing: antialiased;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

input,
textarea,
select {
    font-family: inherit;
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}

/* Scrollbar Polish */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: var(--radius-full);
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.2);
}

.hidden {
    display: none !important;
}